{% extends "base.html" %}


{% block content %}
<table class="example3">
    <form id="fileupload" method="post">
        <div class="row fileupload-buttonbar">
            <div class="span7">
            <span class="btn btn-primary fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>{{ name }}</span>
            </span>
            </div>
            {{ form.as_p }}
        </div>
        <input type="submit" name="Create">
</table>

{% endblock content %}